@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Not sure base is correct here */
  body > nav li {
    cursor: default;
  }

  body > nav a,
  body > nav a:hover,
  body > nav a:active,
  body > nav a:visited
  {
    color: theme('colors.slate.900');
    cursor:  default;
    text-decoration: none;
    transition: background-color 80ms linear;
    font-weight: normal;
    font-size: unset;
    line-height:inherit;
  }

  turbo-frame {
    display: block;
  }
}

summary { list-style: none; }
summary::-webkit-details-marker { display: none; }

details > summary::before {
  content: "▶︎";
  font-size: 0.8rem;
  flex: none;
  line-height: 1.6rem;
  margin-right: 0.4rem;
  transition: rotate 0.2s ease-in-out;
}

details[open] > summary::before {
  rotate: 90deg;
  transition: rotate 0.2s ease-in-out;
}
