<h1><a href="https://www.kingarthurbaking.com/recipes/bakers-croissants-recipe">Baker's Croissants</a></h1>

<p>Known in France as croissants de boulanger, this yeasted dough is layered with butter and given a succession of folds that create the distinctive profile of classic croissants. Light and airy and shatteringly crisp, with a deeply caramelized buttery flavor, these croissants are a labor of love that's absolutely worth the time.</p>
